.Dark_background {
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: -1;
    background-color: #070F2B;
}
  
.Pink_background {
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: -1;
    background-color: rgb(180, 130, 150);
    color: black;
}

.Light_background {
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: -1;
    background-color: #F1F0E8;
    color: black;
}