.Dark_background {
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: -1;
    background-color: #070F2B;
}
  
.Pink_background {
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: -1;
    background-color: rgb(180, 130, 150);
    color: black;
}

.Light_background {
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: -1;
    background-color: #F1F0E8;
    color: black;
}

.Dark_logTruck {
    text-align: left;
    position:fixed;
    left: 1%;
    top:10%;
    width: 99%;
    height: 88%;
    overflow: auto;
    color: White;
    scrollbar-color: #232C74 #070F2B;
}

.Light_logTruck {
    text-align: left;
    position:fixed;
    left: 1%;
    top:10%;
    width: 99%;
    height: 88%;
    overflow: auto;
    color: black;
    scrollbar-color: #89A8B2 #F1F0E8;
}