.Dark_top {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border: 3px solid;
    border-color: #1B1A55;
    background-color: #1B1A55;
    align-content: center;
  }

.Pink_top {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border: 3px solid;
  border-color: #B75264;
  background-color: #B75264;
  align-content: center;
}

.Light_top {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border: 3px solid;
  border-color: #B3C8CF;
  background-color: #B3C8CF;
  align-content: center;
}

.Dark_tabButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #232C74;
  color: white;
}


.Light_tabButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #89A8B2;
  color: white;
}

.Pink_tabButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #cb3b8d;
  color: white;
}