.Dark_background {
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: -1;
    background-color: #070F2B;
}

.Pink_background {
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: -1;
    background-color: #E0D5DB;
    color: black;
}

.Light_background {
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: -1;
    background-color: #F1F0E8;
    color: black;
}

.Dark_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #1B1A55;
    border: 10px;
    border-color: #1B1A55;

    display: grid;
    grid-template-columns: 84% 16%;
    grid-template-rows: 1fr 1fr 1fr;
}

.Pink_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #B75264;

    display: grid;
    grid-template-columns: 84% 16%;
    grid-template-rows: 1fr 1fr 1fr;
}

.Light_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #B3C8CF;
    border: 10px;
    border-color: #B3C8CF;

    display: grid;
    grid-template-columns: 84% 16%;
    grid-template-rows: 1fr 1fr 1fr;  
}

.Dark_saveButton {
    grid-row: 2;
    grid-column: 2;
    margin-right: 30px;
    background-color: #5f66b2;
    color: white;
}

.Pink_saveButton {
    grid-row: 2;
    grid-column: 2;
    margin-right: 30px;
    background-color: #cb3b8d;
    color: white
}

.Light_saveButton {
    grid-row: 2;
    grid-column: 2;
    margin-right: 30px;
    background-color: #697892;
    color: white;
}

.cardContainer {
    top: 50%;
    left: 50%;
    margin-top: 52px;
    margin-bottom: 60px;
}
