div.Light_spinner {
    width: 64px;
    height: 64px;
    border: 12px solid;
    border-color: #B3C8CF #89A8B2;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

div.Dark_spinner {
    width: 64px;
    height: 64px;
    border: 12px solid;
    border-color: #494f95 #1B1A55;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

div.Pink_spinner {
    width: 64px;
    height: 64px;
    border: 12px solid;
    border-color: #db18df #c12ece;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loading{
    display: flex;
    justify-content: center;
}

p.Dark_left{
    z-index: 1;
    text-align: justify;
}

p.Pink_left{
    z-index: 1;
    text-align: justify;
}

p.Light_left{
    z-index: 1;
    text-align: justify;
}

select.Dark_inference {
    height: 25px;
    background-color: #131C46;
    color: white;
    border: 0px;
    border-radius: 0px 0px 0px 0px;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
}

.Dark_inference:hover {
    background-color: #232C56;
    cursor: pointer;
}

select.Light_inference {
    height: 25px;
    background-color: #CCD5D5;
    color: black;
    border: 0px;
    border-radius: 0px 0px 0px 0px;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
}

.Light_inference:hover {
    background-color: #BCC5C5;
    cursor: pointer;
}

select.Pink_inference {
    height: 25px;
    background-color: rgb(179, 60, 177);
    color: white;
    border: 0px;
    border-radius: 0px 8px 8px 0px;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;

}

.Light_thinkingDropDown {
    height: 25px;
    background-color: #89A8B2;
    color: white;
    border: 0px;
    border-radius: 0px 8px 8px 0px;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
}

.Light_thinkingDropDown:hover {
    background-color: #7998A2;
    cursor: pointer;
}

.Dark_thinkingDropDown {
    height: 25px;
    background-color: #494f95;
    color: white;
    border: 0px;
    border-radius: 0px 8px 8px 0px;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
}

.Dark_thinkingDropDown:hover {
    background-color: #595fA5;
    cursor: pointer;
}

div.Dark_fixedBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    border: 3px solid;
    width: 100%;
    height: 100px;
    border-color: #1B1A55;
    background-color: #1B1A55;
    align-content: center;
    color: white;
}

div.Pink_fixedBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    border: 3px solid;
    width: 100%;
    height: 100px;
    border-color: rgb(200, 150, 170);
    background-color: #B75264;
    align-content: center;
}

div.Light_fixedBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    border: 3px solid;
    width: 100%;
    height: 100px;
    border-color: #B3C8CF;
    background-color: #B3C8CF;
    align-content: center;
    color: black;
}

div.Dark_output{
    z-index: 2;
    color: white;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 100px;
}

div.Pink_output{
    z-index: 2;
    color: black;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 100px;
}

div.Light_output{
    z-index: 2;
    color: #697892;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 100px;
}

input.Pink_prompt {
    width: 60%;
    height: 20px;
    color: white;
    font-family: inherit;
    font-size: 1em;
    font-weight: 505;
    border-radius: 8px 0px 0px 8px;
}

input.Dark_prompt {
    width: 60%;
    height: 20px;
    background-color: #131C46;
    border: solid 2px ;
    border-color: #131C46;
    color: white;
    font-family: inherit;
    font-size: 1em;
    font-weight: 505;
    border-radius: 8px 0px 0px 8px;
}

input.Light_prompt {
    width: 60%;
    height: 20px;
    background-color: #CCD5D5;
    color: #697892;
    border: solid 2px;
    border-color: #CCD5D5;
    font-family: inherit;
    font-size: 1em;
    font-weight: 505;
    border-radius: 8px 0px 0px 8px;
}

input.settings {
    width: 40%;
    color: white;
}

.Dark_background {
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: -1;
    background-color: #070F2B;
}

.Pink_background {
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: -1;
    background-color: #E0D5DB;
    color: black;
}

.Light_background {
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: -1;
    background-color: #F1F0E8;
    color: black;
}

button.Light_promptSubmit
{
  height: 45px;
  width: 125px;
  border-radius: 8px;
  border: 0px;
  background-color: #697892;
  color: white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-left: 45px;

}

button.Dark_promptSubmit
{
  height: 45px;
  width: 125px;
  border-radius: 8px;
  border: 0px;
  background-color: #5f66b2;
  color: white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-left: 45px;

}

button.Pink_promptSubmit
{
  height: 45px;
  width: 125px;
  border-radius: 8px;
  border: 0px;
  background-color: #7b2074;
  color: white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-left: 45px;

}

div.Light_checkBoxDiv {

}
