div.Light_spinner {
    width: 64px;
    height: 64px;
    border: 12px solid;
    border-color: #2447f5 #36458f;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

div.Dark_spinner {
    width: 64px;
    height: 64px;
    border: 12px solid;
    border-color: #2447f5 #36458f;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

div.Pink_spinner {
    width: 64px;
    height: 64px;
    border: 12px solid;
    border-color: #db18df #c12ece;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loading{
    display: flex;
    justify-content: center;
}